* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.header {
  background-color: aqua;
}
.nav {
  background-color: brown;
  display: flex;
  justify-content: center;
}
.nav__navlinks {
  background-color: cadetblue;
  margin: 1.6rem;
}
.nav__navlinks__link {
  background-color: rgb(220, 20, 187);
}
.introduction {
  background-color: chocolate;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}
.introduction__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  width: max(600px, 60%);
  margin: 2rem 1rem 2rem 1rem;
}
.introduction__text__title {
  background-color: blue;
  margin: 1rem;
  font-size: 1rem;
}
.introduction__text__quote {
  background-color: blueviolet;
  font-size: clamp(2.2rem, 5vw, 3rem);
  margin: 1rem;
  width: min(700px, 90%);
  text-align: center;
}
.introduction__text__button {
  background-color: brown;
  margin: 1rem;
  font-size: 1rem;
}

.services {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services__text {
  background-color: brown;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: max(600px, 70%);
  margin: 2rem 1rem 2rem 1rem;
}
.services__text__title {
  background-color: blanchedalmond;
  font-size: clamp(1.7rem, 5vw, 2.2rem);
  width: min(600px, 90%);
  margin: 1rem;
  text-align: center;
}
.services__text__quote {
  background-color: blue;
  font-size: 1rem;
  width: min(500px, 90%);
  margin: 1rem;
  text-align: center;
}
.services__text__list {
  background-color: blueviolet;
  font-size: 1.175;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: min(800px, 90%);
  margin: 1rem;
}
.services__text__list__item {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.services__text__list__item__img-container {
  background-color: cadetblue;
}
.services__text__list__item__img-container img {
  max-width: 100%;
  max-height: 100%;
}
.services__text__list__item__description {
  background-color: chartreuse;
  padding: 0.7rem;
}
.description-title {
  font-size: 1rem;
}
.description-quote {
  font-size: 0.8rem;
}
.services__text__button {
  font-size: 1rem;
  margin: 1rem;
  width: 200px;
  height: 45px;
  background: #4985ff;
  border: none;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
}

@media (max-width: 800px) {
  .services__text__list {
    flex-direction: column;
    width: 90%;
  }
}
.development {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(86, 121, 51);
}
.development__quality {
  background-color: crimson;
  width: max(600px, 72%);
  display: flex;
  margin: 2rem 1rem 2rem 1rem;
}
.development__quality__text {
  background-color: cyan;
  margin: 1rem;
  flex: 1;
}
.development__quality__text__title {
  background-color: teal;
  font-size: clamp(1.7rem, 5vw, 2.2rem);
  margin: 1rem;
  margin-top: 2rem;
}
.development__quality__text__quote {
  font-size: 1rem;
  margin: 1rem;
}
.development__quality__text__more-info-link {
  font-size: 1rem;
  margin: 1rem;
  margin-bottom: 2rem;
}

.development__quality__img-container {
  background-color: darkgoldenrod;
  margin: 1rem;
  flex: 1;
}
.development__quality__img-container img {
  max-width: 100%;
  max-height: 100%;
  min-height: 100%;
  min-width: 100%;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
}
.development__our-projects {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: darkgreen;
  width: max(600px, 62%);
  margin: 2rem 1rem 2rem 1rem;
}
.development__our-projects__item {
  background-color: aqua;
}

@media (max-width: 1000px) {
  .development {
    flex-direction: row;
  }
  .development__our-projects {
    flex-direction: column;
    width: 40%;
  }
  .development__quality {
    flex-direction: column;
    width: min(400px, 90%);
  }
}
@media (max-width: 450px) {
  .development {
    flex-direction: column;
  }
  .development__our-projects {
    flex-direction: row;
    width: 90%;
  }
}

.specialization {
  background: linear-gradient(to bottom, #504dc2 10%, #5f12d0 50%, white 50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.specialization__text {
  background-color: rgb(0, 123, 139);
  width: max(600px, 65%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4rem 1rem 1rem 1rem;
}
.specialization__text__title {
  background-color: brown;
  font-size: clamp(1.7rem, 5vw, 2.2rem);
}
.specialization__text__button {
  border: none;
  width: 200px;
  height: 45px;
  background: #4985ff;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
}

.specialization__specialties {
  background-color: rgb(139, 6, 6);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: min(860px, 95%);
  margin: 1rem 1rem 4rem 1rem;
}
.specialization__specialties__item {
  background-color: rgb(163, 172, 154);
  margin: 1rem;
  display: flex;
  flex-direction: column;
}
.specialization__specialties__item__img-container {
  background-color: blue;
  width: 100%;
}
.specialization__specialties__item__img {
  max-width: 100%;
  max-height: 100%;
  min-height: 100%;
  border-radius: 10px;
}
.specializtion__specialties__item__text {
  background-color: green;
}
.specialization__specialties__item__text__category-name {
  font-size: 1.2rem;
  margin: 1rem;
  background-color: aqua;
}
.specialization__specialties__item__text__category-description {
  font-size: 1rem;
  margin: 1rem;
  background-color: blue;
}
.specialization__specialties__item__text__category-more-info-link {
  margin: 1rem;
  background-color: brown;
}

@media (max-width: 800px) {
  .specialization__specialties {
    flex-direction: column;
    width: 90%;
  }
  .specialization__text {
    flex-direction: column;
    width: 90%;
  }
}

.our-projects {
  background-color: royalblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.our-projects__text {
  background-color: springgreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: max(600px, 70%);
  margin: 2rem 1rem 2rem 1rem;
}
.our-projects__text__title {
  background-color: salmon;
  font-size: clamp(1.7rem, 5vw, 2.2rem);
  width: min(600px, 90%);
  margin: 1rem;
  text-align: center;
}
.our-projects__text__quote {
  background-color: seagreen;
  font-size: 1rem;
  width: min(500px, 90%);
  margin: 1rem;
  text-align: center;
}
.our-projects__text__examples {
  background-color: sienna;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: min(800px, 90%);
  margin: 1rem;
}
.our-projects__text__button {
  font-size: 1rem;
  margin: 1rem;
  width: 200px;
  height: 45px;
  background: #4985ff;
  border: none;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
}
.our-projects__text__examples__img-container__img {
  max-width: 100%;
  max-height: 100%;
}
.our-projects__text__examples__img-container {
  background-color: chartreuse;
  background: url("https://c0.wallpaperflare.com/preview/524/860/912/screen-code-coding-programming.jpg");
  width: 100px;
  height: 100px;
}
@media (max-width: 800px) {
  .our-projects__text__examples {
    flex-direction: column;
  }
}

.work-video {
  background-image: linear-gradient(to bottom, transparent 50%, white 50%),
    url("https://wallup.net/wp-content/uploads/2017/11/22/407968-programming-PHP-programming_language-syntax_highlighting-minified-knowledge-coding-code-HTML-color_codes-CSS-computer-pixels-Computer_screen-logic.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
}
.work-video__content {
  background-color: aqua;
  margin: 2rem 1rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: max(600px, 60%);
}
.work-video__content__text {
  background-color: blue;
  margin: 1rem;
  width: min(600px, 90%);
}
.work-video__content__text__title {
  background-color: cadetblue;
  font-size: clamp(1.7rem, 5vw, 2.2rem);
  margin: 1rem;
  text-align: center;
}
.work-video__content__text__quote {
  background-color: red;
  font-size: 1rem;
  margin: 1rem;
  text-align: center;
}
.work-video__content__video {
  background-color: blueviolet;
  margin: 1rem;
  width: min(540px, 90%);
  height: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://78.media.tumblr.com/eae93f563876da01fb2799c6b2fa8432/tumblr_nl8eenPIE11rnh2c3o1_1280.jpg");
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 10px;
}
/*.work-video__content__line {
  height: 1px;
  background-color: blueviolet;
  width: max(600px, 70%);
}
*/
.work-video__content__sign-up {
  background-color: green;
  margin: 1rem;
  width: min(500px, 90%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.work-video__content__sign-up__title {
  background-color: chartreuse;
  margin: 1rem;
  font-size: 1.2rem;
  text-align: center;
}
.work-video__content__sign-up__quote {
  background-color: coral;
  margin: 1rem;
  text-align: center;
  font-size: 1rem;
}
.work-video__content__sign-up__form {
  background-color: crimson;
  margin: 1rem;
}
.work-video__content__sign-up__statement {
  background-color: darkcyan;
  margin: 1rem;
  font-size: 0.9rem;
  text-align: center;
}

.footer {
  background-color: darkgoldenrod;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__info {
  margin: 2rem 1rem 1rem 1rem;
  background-color: darkgreen;
  display: flex;
}
.footer__info__contacts {
  background-color: darkmagenta;
  margin: 1rem;
}
.footer__info__contacts__item {
  background-color: darkseagreen;
  margin: 1rem;
}
.footer__info__contacts__title {
  background-color: darkseagreen;
  margin: 1rem;
}

.footer__info__nav-links {
  background-color: darkorange;
  margin: 1rem;
}
.footer__info__nav-links__link {
  background-color: darkseagreen;
  margin: 1rem;
}
.footer__info__nav-links__title {
  background-color: darkseagreen;
  margin: 1rem;
}

.footer__info__our-projects {
  background-color: darkred;
  margin: 1rem;
}
.footer__info__our-projects__project {
  background-color: darkseagreen;
  margin: 1rem;
}
.footer__info__our-projects__title {
  background-color: darkseagreen;
  margin: 1rem;
}

.footer__info__social-media-links {
  background-color: rgb(3, 145, 3);
  margin: 1rem;
}
.footer__info__social-media-links__link {
  background-color: darkseagreen;
  margin: 1rem;
}
.footer__info__social-media-links__title {
  background-color: darkseagreen;
  margin: 1rem;
}

.footer__line {
  margin: 1rem;
  width: 600px;
  height: 1px;
  background-color: red;
}
.footer__copyright {
  margin: 1rem;
}
